
    <div class="col-md-3 left_col">
      <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
          <a routerLink="dashboard" class="site_title" ><i class="fa fa-paw"></i> <span>Rakupa Technologies</span></a>
        </div>
        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile clearfix">
          <div class="profile_pic">
            <img src="images/img.jpg" alt="..." class="img-circle profile_img">
          </div>
          <div class="profile_info">
            <span>Welcome,</span>
            <h2>{{currentUser.FIRST_NAME}} {{currentUser.LAST_NAME}}</h2>
          </div>
        </div>
        <!-- /menu profile quick info -->

        <br />

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
          <div class="menu_section">
            <h3>General</h3>
            <ul class="nav side-menu">
              <li><a routerLink="dashboard"><i class="fa fa-home"></i> Home</a>
              <li><a [routerLink]="['/device-type']"><i class="fa fa-home"></i> Device Type</a>
                <li><a [routerLink]="['/devices']"><i class="fa fa-home"></i> Devices</a>
                
              </li>
              
            </ul>
          </div>
     

        </div>
        <!-- /sidebar menu -->

      
      </div>
    </div>

    <!-- top navigation -->
    <div class="top_nav">
      <div class="nav_menu">
        <nav>
          

          <ul class="nav navbar-nav navbar-right">
            <li class="" (mouseover)="profile_dropdown = 'show'" (mouseout)="profile_dropdown = 'hide'">
              <a href="javascript:void(0);" class="user-profile dropdown-toggle">
                <img src="images/img.jpg" alt="">{{currentUser.FIRST_NAME}} {{currentUser.LAST_NAME}}
                <span class=" fa fa-angle-down"></span>
              </a>
              <ul class="dropdown-menu dropdown-usermenu pull-right" [ngClass]="profile_dropdown">
                <li><a href="javascript:;"> Profile</a></li>
                <li><a routerLink=""><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
              </ul>
            </li>

            
          </ul>
        </nav>
      </div>
    </div>
    <!-- /top navigation -->
